//New contact created animation
.animate-contact {
	&-enter-active {
		@extend .animated;
		@extend .tada;
	}

	&-leave-active {
		@extend .animated;
		@extend .rollOut;
	}
}

//Contact selected for editing
.edit-contact {
	@extend .animated;
	@extend .pulse;
}